/* Estilos gerais */
* {
    color: #25282E;
}

a,i {
    transition: .5s;
    text-decoration: none;
}

.secondary-color {
    color: #555;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: #25282E;
    color: #FFF;
    padding: 7px 18px;
    border-radius: 0;
}

.btn:hover{
    background-color: #333;
    color: #FFF;
}